#shop-screen{
    z-index: 1;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#shop-header-container{
    z-index: 1;
    position: relative;
    display: inline-block;
    top: -3vh;
}

#shop-header{
    display: inline-block;
    max-width: 50%;
}

#design-info{
    display:block;
    text-align: left;
    position: absolute;
    top: 60%;
    left: 5%;
    max-width: 20%;
    font-size: calc(.6vw + 5px);
}

#design-info h2{
    font-family: 'SaintFont', 'Raleway', sans-serif;
}

#add-to-cart{
    display:block;
    margin: .5vh auto;
    border: thin grey solid;
    border-radius: 45%;
    font-size: calc(0.8vw + 5px);
}

#added-to-cart{
    display:block;
    margin: .5vh auto;
    animation: appearDisappear 3s 1;
    font-size: calc(0.8vw + 5px);
}


#go-to-checkout{
    position: absolute;
    top: 4%;
    right: 1%;
}

#go-to-checkout img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#design-change-controls-container {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 90%;
}

.design-change-arrow{
    background-color: transparent;
    outline: none;
    border: none;
    vertical-align: middle;
}

.arrow-image{
    height: 40px;
}

.dot {
    background-color: #bbb;
    height: 15px;
    width: 15px;
    margin: 0 2px 0 2px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#dot-active {
    background-color: #717171;
}
